<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB62eag4NoLJPt_UpIcja734kZni_t0blg</string>
	<key>GCM_SENDER_ID</key>
	<string>576829421900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWebTest</string>
	<key>PROJECT_ID</key>
	<string>mr-beast-burger</string>
	<key>STORAGE_BUCKET</key>
	<string>mr-beast-burger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576829421900:ios:6d5a4f73e80f1684d2b7e9</string>
	<key>DATABASE_URL</key>
	<string>https://mr-beast-burger-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>